.demo {
  display: flex;
  button {
    // width: fit-content;
    transition: all 0.5s linear;
    &:hover {
      cursor: pointer;
      transition: all 0.5s linear;
      background-color: #13aa52;
    }
    img {
      //   height: 20%;
      width: 30%;
    }
  }
  img {
    width: 100%;
  }
  * {
    font-family: "Barlow";
  }
}

.game {
  // border: 2px solid black;

  width: 600px;
}

.gameItems {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 40%;
  button {
    height: max-content;
    margin: 10px;
  }
}

.gameInventory {
  // border: 2px solid black;
  // height: 150px;
  width: 600px;
}

.info {
  // border: 2px solid black;
  padding-left: 12px;
  width: 588px;
  padding-bottom: 12px;
  margin-top: 12px;
}

.inventory {
  // border: 2px solid black;
  // height: 150px;
  width: 600px;
}

.locations {
  display: flex;
  justify-content: space-around;
}

.update {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  button {
    border: none;
    background-color: #116149;
    padding: 20px;
    border-radius: 10px;
    margin: 12px;
    color: #fafbfc;
    font-size: 28px;
    font-weight: 700;
  }
}

.key {
  &:hover {
    cursor: pointer;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  button {
    border: none;
    background-color: #116149;
    padding: 20px;
    border-radius: 10px;
    margin: 12px;
    color: #fafbfc;
    font-size: 28px;
    font-weight: 700;
  }
}
