.demo {
  button {
    width: fit-content;
  }
  img {
    width: 100%;
  }
}

.game {
  border: 2px solid black;

  width: 400px;
}

.info {
  border: 2px solid black;
  padding-left: 12px;
  width: 388px;
}

.inventory {
  border: 2px solid black;
  height: 150px;
  width: 400px;
}

.locations {
  display: flex;
  justify-content: space-around;
}

.update {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.key {
  &:hover {
    cursor: pointer;
  }
}
