/* * Guides to CSS Grid https://css-tricks.com/snippets/css/complete-guide-grid/ */
.main {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 10% 60% 30%;
  grid-template-columns: 10% 60% 30%;
  grid-template-areas:
    ". header header"
    "nav gameplay gameplay"
    ". communication inventory";
}

%game-section {
  border: 2px solid black;
  margin: 4px;
}

.header {
  @extend %game-section;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay {
  @extend %game-section;
  grid-area: gameplay;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "leftNav scene rightNav";
  &.keyCursor {
    cursor: url(./key-solid.png), auto;
  }
}

.activeItem {
  display: none;
}

.inventory {
  @extend %game-section;
  grid-area: inventory;
}

.communication {
  @extend %game-section;
  grid-area: communication;
}

.nav {
  @extend %game-section;
  grid-area: nav;
}

%navButton {
  height: 100%;
  width: 100%;
}

.leftNav {
  @extend %navButton;
  grid-area: leftNav;
}

.rightNav {
  @extend %navButton;
  grid-area: rightNav;
}

.scene {
  grid-area: scene;
}
