.main {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 10% 60% 30%;
  grid-template-columns: 10% 60% 30%;
  grid-template-areas:
    ". header header"
    "nav gameplay gameplay"
    ". communication inventory";
}

.header {
  grid-area: header;
}

.gameplay {
  grid-area: gameplay;
}

.inventory {
  grid-area: inventory;
}

.communication {
  grid-area: communication;
}

.nav {
  grid-area: nav;
}
