// * Guides to CSS Grid https://css-tricks.com/snippets/css/complete-guide-grid/

// * % = placeholder class
// * https://sass-lang.com/guide#topic-7

// Placeholders

%game-section {
  border: 2px solid black;
  margin: 4px;
}

%navButton {
  height: 100%;
  width: 100%;
}

// Classes

.activeItem {
  display: none;
}

.centerNav {
  grid-area: scene;
  height: 30px;
  width: 100px;
  align-self: center;
  justify-self: center;
}

.communication {
  @extend %game-section;
  grid-area: communication;
}

.gameplay {
  @extend %game-section;
  grid-area: gameplay;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "leftNav scene rightNav";
  // https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
  &.keyCursor {
    cursor: url(./key-solid.png), auto;
  }
}

.header {
  @extend %game-section;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory {
  @extend %game-section;
  grid-area: inventory;
}

.leftNav {
  @extend %navButton;
  grid-area: leftNav;
}

.main {
  height: 100%;
  background-color: lightblue;
  display: grid;
  grid-template-rows: 5% 75% 20%;
  grid-template-columns: 5% 60% 35%;
  grid-template-areas:
    ". header header"
    "nav gameplay gameplay"
    ". communication inventory";
}

.nav {
  @extend %game-section;
  grid-area: nav;
}

.rightNav {
  @extend %navButton;
  grid-area: rightNav;
}

.sceneContainer {
  grid-area: scene;
}

.scene {
  height: 100%;
  width: 100%;
}
